<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="WalletWay"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmartFinanceAssistant"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".ui.EMICalculatorActivity"
            android:exported="false" />
        <activity
            android:name=".ui.RegisterActivity"
            android:exported="false" /> <!-- Login Screen — LAUNCHER -->
        <activity
            android:name=".ui.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Main Dashboard -->
        <activity
            android:name=".MainActivity"
            android:exported="false" /> <!-- Add Expense -->
        <activity
            android:name=".ui.AddExpenseActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" /> <!-- Budget -->
        <activity
            android:name=".ui.BudgetActivity"
            android:exported="false" /> <!-- Product Search -->
        <activity
            android:name=".ui.ProductSearchActivity"
            android:exported="false" />
    </application>

</manifest>